.cute-colors(@property) {
  0%   { @{property}: red; }
  14%  { @{property}: green; }
  28%  { @{property}: blue; }
  42%  { @{property}: yellow; }
  56%  { @{property}: purple; }
  70%  { @{property}: magenta; }
  84% { @{property}: cyan; }
}

@keyframes cute-background {
  .cute-colors(background-color);
}

@-webkit-keyframes cute-background {
  .cute-colors(background-color);
}

@keyframes cute-border {
  .cute-colors(border-color);
}

@-webkit-keyframes cute-border {
  .cute-colors(border-color);
}

atom-text-editor.editor {
  .cursor {
    opacity: 1;
    border: none;
    animation: cute-background 120ms infinite;
    -webkit-animation: cute-background 120ms infinite;
  }

  &.vim-mode-plus.insert-mode .cursor {
    opacity: 1;
    border-left: 2px solid;
    animation: cute-border 120ms infinite;
    -webkit-animation: cute-border 120ms infinite;
  }
}
